name: CD
on:
    workflow_dispatch:

env:
    IMAGE_NAME: ghcr.io/william7865/projetdevsecops:latest
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image 
        run: docker build . -t deploy/dockerfile -t ${{ env.IMAGE_NAME }}:latest .
      - name: Push image 
        run: docker push ${{ env.IMAGE_NAME }}:latest